In [1]:
import pandas as pd
from datasets import load_dataset
import re # Regular Expression library for manipulating strings
import os

c:\Users\HP\anaconda3\envs\dataScience\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
dataset = load_dataset("sentiment140", trust_remote_code=True)

Downloading data: 100%|██████████| 81.4M/81.4M [01:04<00:00, 1.26MB/s]
Generating train split: 100%|██████████| 1600000/1600000 [00:24<00:00, 64027.10 examples/s]
Generating test split: 100%|██████████| 498/498 [00:00<00:00, 16826.95 examples/s]

In [4]:
type(dataset)

datasets.dataset_dict.DatasetDict

In [5]:
dataset.keys()

dict_keys(['train', 'test'])

In [6]:
type(dataset["train"])

datasets.arrow_dataset.Dataset

In [8]:
df = dataset["train"].to_pandas()

In [9]:
df.head()

,text,date,user,sentiment,query
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,0,NO_QUERY
1,is upset that he can't update his Facebook by ...,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,0,NO_QUERY
2,@Kenichan I dived many times for the ball. Man...,Mon Apr 06 22:19:53 PDT 2009,mattycus,0,NO_QUERY
3,my whole body feels itchy and like its on fire,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,0,NO_QUERY
4,"@nationwideclass no, it's not behaving at all....",Mon Apr 06 22:19:57 PDT 2009,Karoli,0,NO_QUERY

In [10]:
df = df[df["sentiment"]!=2]

In [12]:
df["text"].sample(1)

447139    @mellow_knee i don't know
Name: text, dtype: object